/* 位移变化 */
.each-t,
.each-b,
.each-r,
.each-l {
  transition: all 0.4s;
}

.each-t:hover {
  transform: translate3d(0, -10px, 0);
}

.each-b:hover {
  transform: translate3d(0, 10px, 0);
}

.each-l:hover {
  transform: translate3d(-10px, 0, 0);
}

.each-r:hover {
  transform: translate3d(10px, 0, 0);
}
