.k-fade {
  position: relative;
  transition: all 0.3s;
  z-index: 1;
}

.k-fade:before {
  position: absolute;
  transition: all 0.3s;
  content: "";
  display: block;
  background: #09f;
  z-index: -1;
  width: 100%;
  height: 100%;

  top: 0;
  left: 0;
  transform: scaleX(1);
  opacity: 0;
}

.k-fade:hover {
  opacity: 1;
  color: #fff;
}

.k-fade:hover:before {
  opacity: 1;
}

/* k-fade-t */
.k-fade-t {
    position: relative;
    transition: all .3s;
    z-index: 1;
}

.k-fade-t:before {
    position: absolute;
    transition: all .3s;
    content: "";
    display: block;
    background: #09f;
    z-index: -10;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    transform-origin: 0 100%;
    transform: scaleY(0);
}

.k-fade-t:hover {
    color: #fff;
}

.k-fade-t:hover:before {
    transform: scaleY(1);
}

/* k-fade-b */
.k-fade-b {
    position: relative;
    transition: all .3s;
    z-index: 1;
}

.k-fade-b:before {
    position: absolute;
    transition: all .3s;
    content: "";
    display: block;
    background: #09f;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transform-origin: 0 0 ;
    transform: scaleY(0);
}

.k-fade-b:hover {
    color: #fff;
}

.k-fade-b:hover:before{
    transform: scaleY(1);
}

/* k-fade-l */

.k-fade-l {
    position: relative;
    transition: all .3s;
    z-index: 1;
}

.k-fade-l:before {
    position: absolute;
    transition: all .3s;
    content: "";
    display: block;
    background: #09f;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    transform-origin: 0 0;
    transform: scaleX(0)
}

.k-fade-l:hover {
    color:#fff;
}

.k-fade-l:hover:before {
    transform: scaleX(1);
}

/* k-fade-r */

.k-fade-r {
    position: relative;
    z-index: 1;
    transition: all .3s;
}

.k-fade-r:before {
    position: absolute;
    transition: all .3s;
    background: #09f;
    content: "";
    display: block;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: 100% 0 ;
    transform: scaleX(0);
}

.k-fade-r:hover {
    color: #fff;
}

.k-fade-r:hover:before {
    transform: scaleX(1);
}

