span {
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    color: #333;
    background: #ccc;
    min-width: 80px;
    padding: 0 10px;
    margin: 10px;
}